@import "./variables.css";

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
    scroll-behavior:smooth;
}

body{

    font-family:var(--font-family);
    background:var(--color-background);
    color:var(--color-text);

    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

}

#root{
    min-height:100vh;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
textarea,
select{

    font:inherit;

}

button{

    border:none;
    background:none;
    cursor:pointer;

}

img{
    max-width:100%;
    display:block;
}

ul{
    list-style:none;
}